<!--Footer-->
<footer id="footer" class="pb-4 pt-4">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-md">
          <a href="#">Preguntas Frecuentes</a>
        </div>
        <div class="col-12 col-md">
          <a href="#">Privacidad</a>
        </div>
        <div class="col-12 col-md">
          <a href="#">Términos y condiciones</a>
        </div>
        <div class="col-12 col-md">
          <a 
          href="https://gitlab.com/chichianichi/la-poke-granja" 
          style="color: #ffc107;"
          target="blank"
          >Repositrorio</a>
        </div>
        <div class="col-12 col-md">
          Created by <a 
                     href="https://gitlab.com/chichianichi" 
                     style="color: #ffc107;"
                     target="_blank">
                        @chichianichi
                     </a>
        </div>
      </div>
    </div>
  </footer>
  <!---/Footer-->
