<!----Pokelista-->
<div class="container pt-4 pb-4" id="btn-generar">
    <button 
    type="button" 
    class="btn btn-outline-warning btn-lg btn-block" 
    id="btn-genera"
    (click)="generarLista()"
    >
        Generar Nueva Granja
    </button>
</div>

<div class="container">
    <div class="row" >
      <div class="col-6 col-md-3 mb-4" 
      *ngFor="let pokemon of pokemons"
      >        
        <div class="card ">  
            <div 
            class="d-flex justify-content-center" 
            style="background-color: #a8a8a7;"
            >
                <img 
                [src]="pokemon.sprites.front_default" 
                alt="Pokemon" 
                style="max-width: 100px"
                >          
            </div>
            <div style="text-align: center;">
                <h3 class="text-capitalize">{{ pokemon.name }}</h3>
                <p>
                <b>No:</b> {{ pokemon.id }}
                </p>
                <p>
                    <b>Type:</b> {{ pokemon.types[0].type.name }}
                </p>
                <p>
                    <b>Height:</b> {{ pokemon.height }}
                </p>
                <p>
                    <b>Ability:</b> {{ pokemon.abilities[0].ability.name }}
                </p>    
            </div>            
        </div>
      </div>      
    </div>
  </div>
<!----/Pokelista-->
